<div class="card-container">
  A set of classes to help you create and maintenance datagrid.
  <p>
    The demo was done using the
    <a href="http://v4-alpha.getbootstrap.com/" target="_blank">bootstrap</a>,
    you can use any other css framework.</p>

  <h3 class="sample-content mt-2">
    Installation
  </h3>
  <handy-syntax-highlighter [language]="'bash'"
                            [content]="'npm install ng2-handy-grid --save'"
  ></handy-syntax-highlighter>

  <h3 class="sample-content mt-3">
    Configuration
  </h3>
  In your module add Ng2HandyGridModule:
  <handy-syntax-highlighter [language]="'typescript'"
                            [content]="example"
  ></handy-syntax-highlighter>

</div>
